<div class="d-flex justify-content-end me-5 ms-5 mt-2">
  <button class="btn btn-primary" [routerLink]="['/Products/Add']">Add New Product</button>
</div>
<table class="table m-auto mt-0 w-100">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th>Needed Quantity</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of productsByCategory; let i = index" [ngClass]="{
        outOfStock: product.quantity == 0,
        warning: product.quantity == 1 || product.quantity == 2
      }">
      <!--* Safe navigator operator '?' lw shakek eno mmkn ykon b null -->
      <td>{{ i + 1 }}</td>
      <td>
        <img [src]="product?.imgURL" LightBox="25px" alt="productImage" srcset="" />
      </td>
      <td>{{ product?.name }}</td>
      <td>{{ product?.price | currency : "EUR" : "code" }}</td>
      <!--~ <ng-template> element defines a template that is not rendered by default.  you can define template content that is only being rendered by Angular when you, whether directly or indirectly, specifically instruct it to do so, allowing you to have full control over how and when the content is displayed. -->
      <!-- <td>
          <div *ngIf="product.quantity != 0; else outOfStock">
            {{ product?.quantity }}
          </div>
          <ng-template #outOfStock>Out Of Stock</ng-template>
        </td> -->
      <!--~ ngSwitch -->
      <td>
        <ng-container [ngSwitch]="product.quantity">
          <div *ngSwitchCase="0">Out of Stock</div>
          <div *ngSwitchCase="1">Last Item!</div>
          <div *ngSwitchCase="2">Last 2 Items!</div>
          <div *ngSwitchDefault>{{ product.quantity }}</div>
        </ng-container>
      </td>
      <!--& template variable: is a referance   #name   -->
      <td>
        <input #itemsCount type="number" min="0" required [max]="product.quantity" class="form-control w-50"
          id="NeededQuantity" />
      </td>
      <td>
        <!-- <button class="btn btn-primary m-2" (click)="OpenProductDetails(product.id)">  Details </button> -->
        <!--~ instead of button and click just use the link -->
        <a [routerLink]="['/Products', product.id]" class="btn btn-primary m-2" role="button">Details</a>
        <button class="btn btn-success m-2" (click)="Buy(product.price, itemsCount.value, product.id, itemsCount)">
          Buy
        </button>
      </td>
    </tr>
  </tbody>
</table>