<div class="d-flex flex-xl-nowrap flex-wrap justify-content-center mt-5">
    <div class="Two-way-binding col-xl-3 col-10 container d-grid d-xl-flex flex-wrap align-content-start"
        style="margin-top: 50px;justify-items: center">

        <label for="category" class="form-label">Choose Category</label>
        <div>
            <!--& ngModel won't work unless 'FormsModule' is imported in app.module  -->
            <select name="category" id="category" class="form-control w-xl-100" style="width: 300px;"
                [(ngModel)]="selectedCategoryid">
                <option *ngFor="let category of categoryList" [value]="category.id">
                    {{ category.name }}
                </option>
            </select>
            <!-- <button class="btn btn-success" (click)="ResetCategories()">
                        Reset Categories
                    </button> -->
        </div>
        <div class="mt-4 w-xl-100" style="width: 300px;">
            <div class="d-grid">
                <label class="example-value-label">{{minPrice|currency}}</label>
                <mat-slider id="minPrice" thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1000" min="0"
                    (change)="onchange()" max="100000" aria-label="units" [(ngModel)]="minPrice"></mat-slider>
            </div>

            <div class="d-grid">
                <label class="example-value-label">{{maxPrice|currency}}</label>
                <mat-slider id="maxPrice" thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1000" min="0"
                    (change)="onchange()" max="100000" aria-label="units" [(ngModel)]="maxPrice"
                    value="100000"></mat-slider>
            </div>
            <!-- <button class="btn w-xl-100 m-auto" style="background-color: #3871c2; color:#fff; width: 300px;"
                (click)="Filter()">
                Filter
            </button> -->
        </div>

    </div>

    <app-product-list [sentSelectedCategoryID]="selectedCategoryid" [maxPrice]="maxPrice" [minPrice]="minPrice">
    </app-product-list>
</div>