<app-header></app-header>

<section class="py-5">

  <h1 class="text-center mt-5">Explore Our Categories</h1>

  <ul class="cards justify-content-center">
    <li class="cards__item" *ngFor="let category of Categories; let i = index" [(ngModel)]="selectedCategoryid">
      <div class="card">
        <div class="card__image card__image--fence">
          <img [src]="category.img" alt="">
        </div>
        <div class="card__content">
          <div class="card__title text-center">{{category.name}}</div>
          <p class="card__text mt-3">{{category.description}}</p>
          <button class="btn btn--block card__btn" (click)="selectCategory(category.id)">View Products</button>
        </div>
      </div>
    </li>
  </ul>

  <div>
    <h1 class="text-center mt-5">Our Selected Products</h1>
    <app-product-list [sentSelectedCategoryID]="selectedCategoryid"></app-product-list>
  </div>
  
</section>








<!-- ^ interpolation {{...}} -->
<!-- <img src="{{storeData.ImageURL}}"> -->
<!-- ^ property binding [src] -->
<!-- <img *ngIf="isImageShown" [src]="storeData.ImageURL" /> -->

<!-- <h1>{{ storeData.name }}</h1> -->

<!-- & Da el update elgedid fe angular 17 -->
<!-- @for (item of storeData.branches; track item) {
<p>{{ item }}</p>
} -->
<!-- ~ Structural directive -->
<!-- <ul>
  <li *ngFor="let item of storeData.branches">{{ item }}</li>
</ul> -->

<!--^ we can't write JS in html but we wite the event in () then the name of the function that is in the ts file -->
<!-- <button class="btn btn-primary" (click)="ToggleImage()">toggle image</button> -->