<!--~ ngSubmit : prevent default submit of the form and do what is in the function -->

<div class="text-danger">
  <p>To be removed | for test</p>
  <div>{{ newProduct | json }}</div>
  <div>{{ ProductNameInput.errors | json }}</div>
  <!--~htsht8al lw #ProductNameInput bs  -->
  <!-- <p>Name: {{ ProductNameInput.classList | json }}</p> -->
</div>

<form class="container m-5" #form="ngForm" (ngSubmit)="addProduct()">
  <div class="form-group m-3">
    <label for="productName">Product Name</label>
    <!--!  #ProductNameInput="ngModel"  to see the template as input  -->
    <input type="text" class="form-control" id="productName" name="productName" placeholder="Enter Product Name"
      [(ngModel)]="newProduct.name" required pattern="[A-Za-z]{3,}" #ProductNameInput="ngModel" />
    <div [hidden]="ProductNameInput.valid || ProductNameInput.untouched">
      <small *ngIf="ProductNameInput.errors?.['required']" class="text-danger">Name is required </small>
      <small *ngIf="ProductNameInput.errors?.['pattern']" class="text-danger">Name must be at least 3 characters long and only contain letters</small>
    </div>
  </div>

  <div class="row">
    <div class="form-group m-3 col-3">
      <label for="productPrice">Product Price</label>
      <input type="number" class="form-control" id="productPrice" name="productPrice" [(ngModel)]="newProduct.price" />
    </div>
    <div class="form-group m-3 col-3">
      <label for="productQuantity">Product Quantity</label>
      <input type="number" class="form-control" id="productQuantity" name="productQuantity"
        [(ngModel)]="newProduct.quantity" />
    </div>
  </div>

  <div class="form-group m-3">
    <div class="mb-3">
      <label for="Category" class="form-label">Category</label>
      <select class="form-select form-select-lg" name="categoryName" id="Category" [(ngModel)]="newProduct.categoryID">
        <option *ngFor="let category of categoryList" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="m-3">
    <label for="productImage" class="form-label">Choose Image</label>
    <input type="file" class="form-control" name="productImage" id="productImage" placeholder="Product Image"
      [(ngModel)]="newProduct.imgURL" />
  </div>

  <button type="submit" [disabled]="form.invalid" class="btn btn-success m-3">Submit</button>
</form>